<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem
            id="menu_stock_sync_metrc_setting"
            name="Sync Metrc"
            parent="stock.menu_stock_config_settings"
            sequence="110"/>

    <record id="metrc_adjust_package_reason_tree_view" model="ir.ui.view">
        <field name="name">metrc.adjust.package.reason.tree.view</field>
        <field name="model">metrc.adjust.package.reason</field>
        <field name="arch" type="xml">
            <tree delete="false" editable="bottom">
                <field name="name"/>
                <field name="requires_note"/>
                <field name="metrc_license_id"/>
            </tree>
        </field>
    </record>

    <record id="metrc_adjust_package_reason_action" model="ir.actions.act_window">
        <field name="name">Adjust package reason</field>
        <field name="res_model">metrc.adjust.package.reason</field>
        <field name="type">ir.actions.act_window</field>
        <field name="view_mode">tree</field>
    </record>

    <menuitem
            id="menu_metrc_adjust_package_reason_action"
            action="metrc_adjust_package_reason_action"
            parent="menu_stock_sync_metrc_setting"
            sequence="10"/>

</odoo>